<body>
    <div class="container-fluid">
        <input type="text" value="menuList" id="pstatus" hidden>
        <center>
            <h1>Master Menu</h1>
        </center>
        <br>
        <div class="col-md-12 mt-2">
            <div class="mt-2 mb-2">
                <button type="button" class="btn btn-primary" id="refreshdt">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </button>
                <button type="button" class="btn btn-info" id="menuAdd">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="menuTbl">

                </tbody>
            </table>

        </div>
    </div>

</body>
<!-- <script src="/jquery-3.7.1.js"></script> -->
<script type="text/JavaScript" src="/menu/menu.js"></script>

</html>